pandas
scikit-learn
numpy
seaborn 

beautifulsoup4==4.12.3
lxml==5.2.2
requests==2.31.0
selenium==4.21.0
flask
mlflow==2.2.2
dvc
ipykernel
xgboost

# dev requirements -

pytest==7.1.3
tox==3.25.1
black==22.8.0
flake8==5.0.4
mypy==0.971

-e .